body {
    font-size: 12px;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Geneva, Lucida, Helvetica, sans-serif;
}

.heading-1 {
    font-weight: bold;
    font-size: 18px;
}

.heading-1-1 {
    font-weight: bold;
    font-size: 14px;
}

.quote {
    background-color: #EEEEEE;
    padding-left: 4px;
    padding-right: 4px;
}

.wiki-table {
    width:100%;
}

.table-even {
    background-color: #EEEEEE;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}
